/*
==================
FONT-FACE
==================
*/
@font-face {
  font-family: "Young serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/*
==================
ROOT
==================
*/
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --ff-main: "Outfit", sans-serif;
  --ff-headings: "Young serif", serif;
}

/*
==================
RESET
==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--eggshell);
  font-family: var(--ff-main);
  font-size: 16px;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  color: var(--nutmeg);
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

p {
  color: var(--wenge-brown);
  line-height: 1.5rem;
}

hr {
  color: var(--light-grey);
  opacity: 0.3;
  margin-top: 2rem;
}

ul,
ol {
  color: var(--wenge-brown);
  list-style-type: square;
  line-height: 1.2rem;
  padding: 0 1.2rem;
}

li {
  padding-left: 1.4rem;
  padding-block: 0.35rem;
}

li::marker {
  font-size: 0.7rem;
  color: var(--dark-raspberry);
}

li span {
  font-weight: 700;
}

/*
==================
LAYOUT
==================
*/
.wrapper {
  display: flex;
  justify-content: center;
  height: 100%vh;
  align-items: center;
}
.recipe-container {
  max-width: 46rem;
  background-color: var(--white);
  margin: 7.5rem auto;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

.preparation-time {
  background-color: var(--rose-white);
  border-radius: 1rem;
  margin-top: 2rem;
  padding-left: 1.7rem;
  padding-bottom: 1.5rem;
}

/*
==================
GENERAL STYLES
==================
*/
.recipe-container img {
  border-radius: 0.7rem;
}

.recipe-title {
  color: var(--dark-charcoal);
  font-size: 2.48rem;
}

.prep-time-title {
  font-family: var(--ff-main);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-raspberry);
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.instruction-list {
  list-style-type: decimal;
  line-height: 1.4rem;
}

.instruction-list li::marker {
  font-size: 1rem;
}

table {
  width: 90%;
  color: var(--wenge-brown);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--light-grey);
}

tr:last-child {
  border-bottom: none;
}

td {
  padding-left: 2rem;
  padding-block: 0.8rem;
}

td span {
  color: var(--dark-raspberry);
  font-weight: 700;
}

/*
==================
MEDIA QUERY
==================
*/

@media (max-width: 440px) {
  .recipe-container {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .recipe-container img {
    border-radius: 0;
  }

  .recipe-text {
    padding: 0 2rem;
  }

  .recipe-title {
    font-size: 2.3rem;
    line-height: 2.2rem;
  }

  footer {
    background-color: var(--white);
  }
}
